<div class="account-actions">
  <div class="account-actions__main-menu">
    <nav class="account-actions__nav">
      <ul class="account-actions__list">
        <li class="account-actions__list-item">
          <a
            href="{{ routes.account_addresses_url }}"
            class="account-actions__link "
            {% if autofocus_enabled and customer %}
              autofocus
            {% endif %}
          >
            {{ 'content.my_information' | t }}
          </a>
        </li>
        <li class="account-actions__list-item">
          <a
            href="{{ routes.account_url }}"
            class="account-actions__link"
          >
            {{ 'content.account_orders' | t }}
          </a>
        </li>
        <li class="account-actions__list-item">
          <a
            href="/#hero-wishlist"
            class="account-actions__link"
          >
            {{ 'content.account_wishlist' | t }}
          </a>
        </li>
        <li class="account-actions__list-item">
          <a
            href="{{ routes.account_logout_url }}"
            class="account-actions__link"
          >
            {{ 'actions.log_out' | t }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% stylesheet %}
  .account-actions {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: height var(--animation-values);

    &:has([data-active]) .account-actions__main-menu {
      visibility: hidden;
    }
  }

  .account-actions__nav {
    padding-bottom: var(--padding-xl);
    padding-block-start: 0;
  }

  .account-actions__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    width: fit-content;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    @media screen and (max-width: 300px) {
      grid-template-columns: 1fr;
    }
  }

  .account-actions__link {
    transition: 0.3s;
    &:hover {
      color: #a0a0a0;
    }
  }

  /* This triggers iOS < 16.4. The outline bug is not recognized as a lack of @supports */

  @supports not (background-color: rgb(from red 150 g b / alpha)) {
    /**
    There is a bug in safari < 16.4 that causes the outline to not follow the elements border radius. This is a workaround.
    Using element selector to increase specificity.
  **/

    .account-actions :is(a.button, a.button-secondary):focus-visible {
      outline: none;
      overflow: visible;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: calc(-1 * var(--focus-outline-offset));
        border: var(--focus-outline-width) solid currentColor;
        border-radius: var(--style-border-radius-buttons-secondary);
        display: inherit;
      }
    }

    .account-actions a.button:focus-visible::after {
      border-color: var(--button-background-color);
      border-radius: var(--style-border-radius-buttons-primary);
    }
  }
{% endstylesheet %}
